body {
    padding-top: 5rem;
}

.profile-container {
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;  /* ensure the top section's rounded corners are respected */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.profile-top {
    background-color:#b300b3;
    color: white;
    padding: 20px;
    text-align: center;
}


.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 10px;
}


.profile-stats {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #f5f5f5;
    font-weight: bold;
}


.follow-btn {
    display: block;
    width: 80%;
    margin: 15px auto;
    padding: 10px 0;
    background-color: #b300b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.follow-btn:hover {
    background-color: #b300b3;
}
.nav-profile {
    color: #ffffff; /
    font-weight: bold; 
}

.nav-profile:hover {
    color: #ffffff; 
}
